body {
    background-image: url("../assets/img/depositphotos_141955820-stock-photo-tic-tac-toe-game-isolated.jpg")
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    font-family: monospace;
    font-size: 36px;  
    border: 5px solid #bada55  ; 
}

.morpion {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #B000B5;
    min-width: 50vh;
    height: 50vh;        
}
.case {
    border: 5px solid #FB1;
    width: calc(1/3 * 100%);
    height: calc(1/3 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}       h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

p {
    text-align: center;
}

#but {
    border: 3px ridge #333;
    padding: 10px;
    text-decoration: none;
    color:  blue;
}

#but:hover {
    color: black;
    background-color: yellow;
}

#Jeu {
    width: 600px;
    height: 600px;
    overflow: auto;
    margin: auto;
    padding: 10px;
}

#Jeu button {
    border-color: #EBEBEB;
}

#Jeu div {
    width: 500px;
    margin: auto;
    clear: both;
}

#Jeu button {
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 50px;
    margin: 8px;
    float: left;
}

#StatutJeu {
    color:#2f3542;
    padding: 15px 10px;
    text-align: center;
    font-size: 30px;
    
}

#pied {
    text-align: center;
    font-size: 18px;
}